<!--<div class="battle" style="padding: 0;">-->
    <!--<img class="test-image-two" src="games/scrabble/assets/images/launch.screen.jpg"/>-->
    <!--<img class="test-image-one" src="games/monopolyplus/assets/images/launch.screen.3.jpg"/>-->

    <div class="test-image-one" style="background-image: url('games/scrabble/assets/images/launch.screen.jpg'); width: 1920px; height: 1080px; position: absolute;"></div>
    <div class="test-image-two" style="background-image: url('games/monopolyplus/assets/images/launch.screen.3.jpg'); width: 1920px; height: 1080px; position: absolute;"></div>
    <!--<div>-->
        <!--<video autoplay loop>-->
            <!--<source src="games/battle/assets/video/hero-large.mp4" type="video/mp4">-->
            <!--<div class="video-image-backup"></div>-->
        <!--</video>-->
    <!--</div>-->
    <!--<control style="position: absolute; top: 20px; left: 20px;"></control>-->
<!--</div>-->

