.modal-backdrop {
  opacity: .25 !important;
  background: black !important;
}

.modal {
  //height: 100%;

  border-radius: 0 !important;
  border: none;
}

.modal-dialog {
  //height: 100%;
  margin: auto;
}

.modal-header {
  padding-bottom: 5px;
}

.modal-content {
  border-radius: 0 !important;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0);
  box-shadow: 0 3px 9px rgba(0,0,0,0);
}