.wifi-modal {
  .connect-to-container {
    margin-bottom: 10px;
  }

  .plyxal-button {
    display: inline-block;
  }

  .plyxal-button-inner {
    padding: 10px 10px 5px 10px;
    color: white;
    background-color: #909090;
  }
}

.modal-content {
  margin-top: 405px;
  //position: relative;
  //top: 403px !important;
}