<div class="settings-view">
    <img src="assets/images/plyxal.background.png" />

    <div class="content-area">
        <div class="page-header">Settings</div>

        <!-- volume -->
        <div class="section-header">
            <div class="header-label">Volume : {{settingsModel.volume}}%</div>
        </div>
        <div>
            <div class="section volume-section">
                <rzslider rz-slider-model="settingsModel.volume" rz-slider-options="volumeSliderModel"></rzslider>
            </div>
        </div>

        <!-- brightness -->
        <div class="section-header">
            <div class="header-label">Brightness : {{settingsModel.brightness}}%</div>
        </div>
        <div>
            <div class="section volume-section">
                <rzslider rz-slider-model="settingsModel.brightness" rz-slider-options="brightnessSliderModel"></rzslider>
            </div>
        </div>

        <!-- wifi -->
        <div class="section-header">
            <div class="header-label">Wi-Fi : {{settingsModel.wifiConnectionState.connection == 'disconnected' ? 'Not Connected' : settingsModel.wifiConnectionState.ssid}}</div>
        </div>
        <div>
            <div class="section wifi-section">
                <div class="network-item" ng-repeat="network in settingsModel.wifiNetworks">
                    <wifi-signal network="network" click-handler="wifiClickHandler(network)"></wifi-signal>
                </div>
            </div>
        </div>
    </div>
</div>