<div class="settings-view">
    <div class="background"></div>
    <div class="content-area">
        <div class="page-header">Settings</div>
        <!-- volume -->
        <div class="section-header">
            <div class="header-label">Volume : {{settingsModel.volume}}%</div>
        </div>
        <div>
            <div class="section volume-section">
                <rzslider rz-slider-model="settingsModel.volume" rz-slider-options="volumeSliderModel"></rzslider>
            </div>
        </div>

        <!-- brightness -->
        <div class="section-header">
            <div class="header-label">Brightness : {{settingsModel.brightness}}%</div>
        </div>
        <div>
            <div class="section volume-section">
                <rzslider rz-slider-model="settingsModel.brightness" rz-slider-options="brightnessSliderModel"></rzslider>
            </div>
        </div>

        <!-- wifi -->
        <div class="section-header">
            <div class="header-label">Wi-Fi : PKSIV-5g</div>
        </div>
        <div>
            <div class="section wifi-section">
                <div class="network-item" ng-repeat="network in settingsModel.wifiNetworks">
                    <wifi-signal network="network"></wifi-signal>
                </div>
            </div>
        </div>
    </div>
</div>