html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;

  -webkit-user-select: none;
  user-select: none;
}

.loading-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100%;
  height: 100%;
}

.view-container {
  position: absolute;

  top: 0;
  left: 0;
}

.launch-screen {
  position: absolute;
  z-index: -1;
  width: 1920px;
  height: 1080px;
}