<div class="wifi-modal">
    <div class="modal-header red">
        Wifi Settings
    </div>
    <div class="modal-body">
        <div class="connect-to-container"><span>SSID:&nbsp;</span><span>{{wifiNetwork.ssid}}</span></div>
        <form name="wifiForm" class="vertical-form form-inline" novalidate>
            <span>Password:</span>
            <input id="password" name="password" class="form-control" placeholder="password"
                   ng-model="connectionModel.password" type="password" required ng-virtual-keyboard>
        </form>
    </div>
    <div class="modal-footer">
        <plyxal-button label="'Cancel'" ng-click="cancel()"></plyxal-button>
        <plyxal-button label="'Connect'" ng-click="connect()"></plyxal-button>
    </div>
</div>