@font-face {
  font-family: oratorStd;
  src: url("../fonts/OratorStd.otf");
}
/* line 2, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
}
/* line 11, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 21, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 36, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
/* line 41, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
/* line 46, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
/* line 51, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 56, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 61, ../../../scss/directive/_loader.scss */
.loader .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* line 102, ../../../scss/directive/_loader.scss */
.loader .title {
  font-size: 22px;
  color: #666666;
}

/* line 1, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal {
  position: relative;
  width: 300px;
  height: 70px;
  display: inline-block;
  cursor: pointer;
}
/* line 11, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .wifi-signal-inner {
  position: relative;
  width: 300px;
  height: 70px;
  padding: 10px;
  transform: translateZ(0);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 28, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .interaction-start {
  transform: scale(0.85, 0.85);
}
/* line 32, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .base-bar, .wifi-signal .bar1, .wifi-signal .bar2, .wifi-signal .bar3, .wifi-signal .bar4, .wifi-signal .bar5 {
  display: inline-block;
  width: 8px;
  background-color: white;
  margin-right: 3px;
  opacity: .5;
  border: solid 0px black;
  border-radius: 6px;
}
/* line 44, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .bar1 {
  margin-top: 40px;
  height: 10px;
  margin-right: 3px;
}
/* line 53, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .bar2 {
  margin-top: 30px;
  height: 20px;
}
/* line 60, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .bar3 {
  margin-top: 20px;
  height: 30px;
}
/* line 67, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .bar4 {
  margin-top: 10px;
  height: 40px;
}
/* line 74, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .bar5 {
  margin-top: 0px;
  height: 50px;
}
/* line 81, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .network-name {
  position: absolute;
  width: 195px;
  left: 70px;
  top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 92, ../../../scss/directive/_wifi.signal.scss */
.wifi-signal .network-secure {
  position: absolute;
  left: 70px;
  bottom: 8px;
  font-size: 16px;
}

/* line 1, ../../../scss/directive/control/_plyxal.button.scss */
.plyxal-button {
  position: relative;
  width: auto;
  height: 100%;
  cursor: pointer;
}
/* line 9, ../../../scss/directive/control/_plyxal.button.scss */
.plyxal-button .plyxal-button-inner {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateZ(0);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
}
/* line 24, ../../../scss/directive/control/_plyxal.button.scss */
.plyxal-button .interaction-start {
  transform: scale(0.85, 0.85);
}

/* line 1, ../../../scss/directive/control/_rz.slider.scss */
rzslider {
  margin: 0;
}

/* line 5, ../../../scss/directive/control/_rz.slider.scss */
.rz-bubble {
  display: none !important;
}

/* line 9, ../../../scss/directive/control/_rz.slider.scss */
.rz-pointer {
  width: 20px !important;
  height: 40px !important;
  margin-top: -2px;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  outline: 0 !important;
}

/* line 20, ../../../scss/directive/control/_rz.slider.scss */
.rz-pointer::after {
  display: none;
}

/* line 24, ../../../scss/directive/control/_rz.slider.scss */
.rz-bar {
  display: none;
}

/* line 1, ../../../scss/view/_base.view.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: oratorStd;
  font-size: 22px;
  -webkit-user-select: none;
  user-select: none;
}

/* line 17, ../../../scss/view/_base.view.scss */
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 27, ../../../scss/view/_base.view.scss */
.app-container {
  width: 100%;
  height: 100%;
}

/* line 32, ../../../scss/view/_base.view.scss */
.view-container {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 39, ../../../scss/view/_base.view.scss */
.launch-screen {
  position: absolute;
  width: 1920px;
  height: 1080px;
}

/* line 46, ../../../scss/view/_base.view.scss */
.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 60, ../../../scss/view/_base.view.scss */
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 66, ../../../scss/view/_base.view.scss */
.slide.ng-enter {
  left: 100%;
}

/* line 70, ../../../scss/view/_base.view.scss */
.slide.ng-enter-active {
  left: 0;
}

/* line 74, ../../../scss/view/_base.view.scss */
.slide.ng-leave {
  left: 0;
}

/* line 78, ../../../scss/view/_base.view.scss */
.slide.ng-leave-active {
  left: -100%;
}

/* line 83, ../../../scss/view/_base.view.scss */
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1920px;
  height: 1080px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 106, ../../../scss/view/_base.view.scss */
.fade.ng-enter {
  opacity: 1;
  z-index: -1;
}

/* line 113, ../../../scss/view/_base.view.scss */
.fade.ng-enter-active {
  opacity: 1;
}

/* line 117, ../../../scss/view/_base.view.scss */
.fade.ng-leave {
  opacity: 1;
  transition: opacity .1s ease;
  transition-delay: 2s;
}

/* line 125, ../../../scss/view/_base.view.scss */
.fade.ng-leave-active {
  opacity: 1;
}

/* line 1, ../../../scss/view/_settings.view.scss */
.settings-view {
  width: 1920px;
}
/* line 5, ../../../scss/view/_settings.view.scss */
.settings-view .background {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-image: url("../images/logo.png");
}
/* line 13, ../../../scss/view/_settings.view.scss */
.settings-view .content-area {
  position: absolute;
  width: 1920px;
  padding: 50px 50px 50px 280px;
}
/* line 19, ../../../scss/view/_settings.view.scss */
.settings-view .section-base, .settings-view .section-header, .settings-view .section {
  width: auto;
  padding: 10px;
  background-color: rgba(127, 127, 127, 0.5);
}
/* line 27, ../../../scss/view/_settings.view.scss */
.settings-view .page-header {
  font-size: 32px;
  color: #983333;
  margin: 0px 0px 50px 0px;
}
/* line 35, ../../../scss/view/_settings.view.scss */
.settings-view .section-header {
  margin-bottom: 10px;
  display: inline-block;
  color: #983333;
}
/* line 44, ../../../scss/view/_settings.view.scss */
.settings-view .section-header .header-label {
  position: relative;
  top: 4px;
}
/* line 50, ../../../scss/view/_settings.view.scss */
.settings-view .section {
  margin-bottom: 50px;
  display: inline-block;
  color: white;
}
/* line 60, ../../../scss/view/_settings.view.scss */
.settings-view .wifi-section {
  width: 980px;
  height: 290px;
  padding: 10px;
}
/* line 66, ../../../scss/view/_settings.view.scss */
.settings-view .wifi-section .network-item {
  margin: 10px;
  display: inline-block;
}
/* line 73, ../../../scss/view/_settings.view.scss */
.settings-view .volume-section {
  width: 300px;
}

/* line 1, ../../../scss/modal/_base.modal.scss */
.modal-backdrop {
  opacity: 0 !important;
}

/* line 5, ../../../scss/modal/_base.modal.scss */
.modal {
  border-radius: 0 !important;
  border: none;
}

/* line 10, ../../../scss/modal/_base.modal.scss */
.modal-content {
  border-radius: 0 !important;
  -webkit-box-shadow: 0 3px 9px transparent;
  box-shadow: 0 3px 9px transparent;
}

/* line 1, ../../../scss/modal/_wifi.modal.scss */
.wifi-modal {
  background: rgba(127, 127, 127, 0.5);
}
/* line 4, ../../../scss/modal/_wifi.modal.scss */
.wifi-modal .plyxal-button {
  display: inline-block;
}
/* line 8, ../../../scss/modal/_wifi.modal.scss */
.wifi-modal .plyxal-button-inner {
  padding: 10px;
  color: white;
}

/* line 1, ../../../scss/directive/_side.nav.scss */
.side-nav {
  width: 230px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 11, ../../../scss/directive/_side.nav.scss */
.side-nav .nav-container {
  width: 230px;
  height: calc(100% - 60px);
  padding: 5px;
  background-color: rgba(127, 127, 127, 0.5);
}
/* line 19, ../../../scss/directive/_side.nav.scss */
.side-nav .nav-container .nav-button {
  width: 220px;
  height: 120px;
  margin-bottom: 5px;
}
/* line 26, ../../../scss/directive/_side.nav.scss */
.side-nav .system-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(127, 127, 127, 0.5);
}
/* line 43, ../../../scss/directive/_side.nav.scss */
.side-nav .system-bar .system-button {
  width: 76px !important;
  margin-right: 1px;
}
/* line 47, ../../../scss/directive/_side.nav.scss */
.side-nav .system-bar .system-button .plyxal-button-inner {
  width: 76px !important;
}
