.side-nav {
  width: 230px;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;

  .nav-container {
    width: 230px;
    height: calc(100% - 60px);

    padding: 5px;

    background-color: rgba(127, 127, 127, 0.5);

    .nav-button {
      width: 220px;
      height: 120px;
      margin-bottom: 5px;
    }
  }

  .system-bar {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 60px;

    padding: 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top: solid 1px rgba(0, 0, 0, 0.25);

    background-color: rgba(127, 127, 127, 0.5);
    //background-color: rgba(0, 0, 0, 0.25);

    .base-icon {
      width: 48px;
      height: 48px;

      background-size: 40px 40px;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .settings {
      @extend .base-icon;

      background-image: url('../images/settings-icon.png');
    }

    .account {
      @extend .base-icon;

      margin: 0 20px;

      background-image: url('../images/account-icon.png');
    }

    .store {
      @extend .base-icon;

      background-image: url('../images/store-icon.png');
    }
  }
}