.wifi-signal {
  position: relative;

  width: 300px;
  height: 70px;

  display: inline-block;

  cursor: pointer;

  .wifi-signal-inner {
    position: relative;

    width: 300px;
    height: 70px;

    padding: 10px;

    transform: translateZ(0);

    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;

    background-color: rgba(0, 0, 0, 0.25);
  }

  .interaction-start {
    transform: scale(.85, .85);
  }

  .base-bar {
    display: inline-block;
    width: 8px;
    background-color: white;
    margin-right: 3px;

    opacity: .5;

    border: solid 0px black;
    border-radius: 6px;
  }

  .bar1 {
    @extend .base-bar;

    margin-top: 40px;
    height: 10px;

    margin-right: 3px;
  }

  .bar2 {
    @extend .base-bar;

    margin-top: 30px;
    height: 20px;
  }

  .bar3 {
    @extend .base-bar;

    margin-top: 20px;
    height: 30px;
  }

  .bar4 {
    @extend .base-bar;

    margin-top: 10px;
    height: 40px;
  }

  .bar5 {
    @extend .base-bar;

    margin-top: 0px;
    height: 50px;
  }

  .network-name {
    position: absolute;
    width: 195px;
    left: 70px;
    top:  12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .network-secure {
    position: absolute;
    left: 70px;
    bottom: 8px;

    font-size: 16px;
  }
}